<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>OneDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-yuta-tfsug-bhfkagh6ekcbfuas.japanwest-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1df1e3be-e3ae-4e0e-8c9a-742b8d0b8dfd/resourceGroups/rg-tfsug/providers/Microsoft.Web/sites/func-yuta-tfsug</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://func-yuta-tfsug-bhfkagh6ekcbfuas.scm.japanwest-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>